.skillContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    width:80%;
    margin-left:10%;
    margin-top:80px;
    padding-bottom:10px;
    border-bottom:2px solid lightgray;
}
/* Responsiveness Part */
@media screen and (max-width:768px){
    .skillContainer{
        flex-direction: column;
        width:96%;
        margin:6% 2%;
        margin-bottom:100px;
    }
}