
.aboutbox{
    display: block;
    width:75%;
    margin:100px auto;
    margin-top:-100px;
    background:white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding:20px 50px;
    border-radius: 5px;
  }
  .aboutImg{
    display:block;
    width:150px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-60px;
    border-radius: 100%;
  }
  
  
.twosection{
    display:flex;
    justify-content: space-between;
  }
  .leftsection{
    width:60%;
    
  }
  .rightsection{
    width:30%;
    padding:10px;
    height:400px;
    background-color: lightgray;
  }
  
  
  
  
  
  /* Education Section */
  .educationsection{
    margin-top:50px;
    padding:10px;
  }
  .educationbox{
    display:flex;
  }
  