.navbar{
    background-color: white;
    box-shadow:2px 2px 2px 1px #1B9CFC;
    font-size:1.3rem;
    position:fixed;
    z-index:+10;
    width:100%;
    top:0px;
    display:flex;
    padding:10px;
    justify-content: space-between;    
}
.navText{
    color:#1B9CFC;
    font-family:monospace;
    font-weight:600;
    font-size:1.8rem;
    margin-left: 10px;
    margin-right:10px;
}

@media screen and (max-width:768px){
    .navText{
        font-size:1.4rem;
        margin-left:5px;
        margin-right:5px;
    }
}