.body-section{
  background-color: whitesmoke;
  box-sizing:border-box;
  overflow-x:hidden;
}
:root{
  --primaryColor:black;   
 
}
/* Reusuable Heading Boxes*/
.heading-box{
  margin-top:50px;
  background: url('./assets/img/b2.png');
  background-color: #1B9CFC;
  background-repeat: repeat-y;
  padding:20px;
  height:300px;
}

/* Heading Text*/
.heading-1{
  margin-top:50px;
  font-size:4rem;
  text-align:center;
  font-family: monospace;
  color:white;
  text-align: center;
  text-transform:uppercase;
}
.heading-2{
  text-align: left;
  font-size:2rem;
  letter-spacing: 0.03rem;
} 
/* Content */
.content-1{
  display:block;
  margin:40px auto;
  font-size:1.5rem;
  font-weight:100;
  line-height:40px;
  text-rendering: optimizeLegibility;
  font-family: serif;
  letter-spacing:0.02rem;
  color:var(--primaryColor)
}




/* Skills Section */

